body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f8f9fa;
}

.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header{
    background: linear-gradient(to_right,#0062E6, #33AeFF);
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header h1{
    margin: 0;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
}

nav{
    text-align: center;
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #ffeb3b;
}


footer{
    background-color: #343434;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

footer p{
    margin: 0;
}

.flash.success{
    color: #28a745;
}
.flash.danger{
    color: #dc3545;
}
.flash.info{
    color: #17a2b8;
}

.login-box{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
}

.login-box h2{
    margin-bottom: 20px;
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input{
    width: 100%;
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.btn{
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.btn:hover{
    background-color: #0056b3;
}

.btn-small{
    padding: 6px 12px;
    font-size: 12px;
    border: none;
    background-color: #6c767d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-small:hover{
    background-color: #004085;
}

.task-box{
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.task-form{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.task-form input[type="text"]{
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-form button{
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-table{
    width: 100%;
    border-collapse: collapse;
}

.task-table th, .task-table td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.task-table th{
    background-color: #f2f2f2;
}

.btn-delete{
    background-color: #dc3545;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-delete:hover{
    background-color: #c82333;
}

.badge{
    display: inline-block;
    padding: 5px 10px;
    background-color: #17a2b8;
    color: white;
    border-radius: 4px;
    font-size: 12px;
}

.badge.completed{
    background-color: #28a745;
}

.badge.pending{
    background-color: #ffc107;
}

.badge.Working{
    background-color: #007bff;
}

.btn-clear{
    background-color: #6c757d;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}