{% extends "base.html" %}

{% block title %} Feedback Form {% endblock %}

{% block content %}
    <h2>Submit Your Feedback</h2>
    <form method="POST" action="/feedback">
        <label for="username">Name:</label><br>
        <input type="text" id="username" name="username" required placeholder="Enter Your Username"><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required placeholder="Enter Your Email"><br><br>
        
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" required placeholder="Enter Your Message"></textarea><br><br>
        
        <input type="submit" value="Submit">
    </form>
{% endblock %}